---
import Container from "../../shared/Container.astro";
import Paragraph from "../../shared/Paragraph.astro";
---

<!-- Hero Section -->
 
<section class="relative pt-32 pb-20 lg:pt-36">
    <Container className={"flex flex-col lg:flex-row gap-10 lg:gap-12"}>
       <div class="absolute w-full lg:w-1/2 inset-y-0 lg:right-0 ">
               <span class="absolute -z-[1] -left-6 md:left-4 top-24 lg:top-28 w-24 h-24 rotate-90 skew-x-12 rounded-3xl bg-green-400 blur-xl opacity-60 lg:opacity-95 lg:block hidden"></span>
               <span class="absolute right-4 bottom-12 w-24 h-24 rounded-3xl bg-primary blur-xl opacity-80"></span>
        </div>
        <span class="w-4/12 lg:w-2/12 aspect-square bg-gradient-to-tr from-primary to-green-400 absolute -top-5 lg:left-0 rounded-full skew-y-12 blur-2xl opacity-40 skew-x-12 rotate-90"></span>
               <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 z-10">
                   <div class="text-center">
                       <h2 class="text-3xl/tight sm:text-4xl/tight md:text-5xl/tight xl:text-6xl/tight font-bold text-heading-1 mt-10">
                        <span class="text-transparent bg-clip-text bg-gradient-to-br from-indigo-600 from-20% via-primary via-30% to-green-600">Creatividad Digital</span>
                         que Impacta
                       </h2>
                       <Paragraph className={"text-xl md:text-2xl my-12 text-blue-100 max-w-4xl mx-auto"}>
                           Transformamos ideas en experiencias visuales memorables que conectan con tu audiencia y potencian tu marca digital.
                       </Paragraph>
                       <div class="flex flex-col sm:flex-row gap-4 justify-center">
                        <a href="/#contacto">
                            <button class="bg-blue-600 hover:bg-blue-500 text-white cursor-pointer px-8 py-4 rounded-lg font-semibold text-lg transition-colors">
                                Auditoría Gratuita
                            </button>
                        </a>
                       </div>
                   </div>
               </div>
    </Container>
</section>
