---
import Legal from "../components/sections/Legal.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css"
---



<Layout title="Bienvenido">
	<main class="flex flex-col gap-y-20 md:gap-y-32 overflow-hidden">
		<Legal/>
	</main>
</Layout>