---
import "../styles/global.css"
import Layout from "../layouts/Layout.astro";
import HeroOnlineAdvertising from "../components/sections/Publicidad_Online/Hero-online-advertising.astro";
import BenefitsOnlineAdvertising from "../components/sections/Publicidad_Online/Benefits-online-advertising.astro";
import ProcessOnlineAdvertising from "../components/sections/Publicidad_Online/Process-online-advertising.astro";
---


<Layout title="Bienvenido">
	<main class="flex flex-col gap-y-14 md:gap-y-32 overflow-hidden">
		<HeroOnlineAdvertising/>
        <BenefitsOnlineAdvertising/>
		<ProcessOnlineAdvertising/>
	</main>
</Layout>