---
import Container from "../../shared/Container.astro";
import Paragraph from "../../shared/Paragraph.astro";
import Subtitle from "../../shared/Subtitle.astro";
---

<section class="px-10 sm:px-20">
    <Container className="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
        <div class="text-center mb-16">
            <Subtitle className="text-3xl text-dark mb-6">
                ¿Qué es el Marketing de Contenidos?
            </Subtitle>
            <Paragraph className="text-xl text-gray-600 max-w-3xl mx-auto">
                El marketing de contenidos es una estrategia que se centra en crear y distribuir contenido valioso, relevante y consistente para atraer y retener a una audiencia claramente definida.
            </Paragraph>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
            <div class="flex flex-col sm:flex-row gap-2 items-start space-x-4 sm:space-x-6">
                <div class="flex-shrink-0">
                    <div class="w-12 h-12 sm:w-14 sm:h-14 bg-green-400 text-white rounded-xl flex items-center justify-center">
                        <svg class="w-6 h-6 sm:w-8 sm:h-8" fill="currentColor" viewBox="0 0 24 24">
                            <path  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                            ></path>
                        </svg>
                    </div>
                </div>
                <div>
                    <Subtitle className="text-xl sm:text-2xl text-dark mb-2 sm:mb-4">
                        Genera confianza y autoridad en tu sector
                    </Subtitle>
                    <Paragraph className="text-gray-600 text-base sm:text-lg leading-relaxed">
                        Posiciónate como referente en tu sector con contenido de valor. Inspira confianza en tu audiencia y demuestra tu autoridad a través de estrategias de marketing de contenidos efectivas.
                    </Paragraph>
                </div>
            </div>

            <div class="flex flex-col sm:flex-row gap-2 items-start space-x-4 sm:space-x-6">
                <div class="flex-shrink-0">
                    <div class="w-12 h-12 sm:w-14 sm:h-14 bg-green-400 text-white rounded-xl flex items-center justify-center">
                        <svg class="w-6 h-6 sm:w-8 sm:h-8" fill="currentColor" viewBox="0 0 24 24">
                            <path  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                            ></path>
                        </svg>
                    </div>
                </div>
                <div>
                    <Subtitle className="text-xl sm:text-2xl text-dark mb-2 sm:mb-4">
                        Mejora el posicionamiento SEO orgánico</Subtitle>
                    <Paragraph className="text-gray-600 text-base sm:text-lg leading-relaxed">
                        Impulsa tu visibilidad en buscadores con estrategias de SEO orgánico. Atrae tráfico de calidad sin depender de la publicidad pagada y conquista los primeros resultados en Google.
                    </Paragraph>
                </div>
            </div>

            <div class="flex flex-col sm:flex-row gap-2 items-start space-x-4 sm:space-x-6">
                <div class="flex-shrink-0">
                    <div class="w-12 h-12 sm:w-14 sm:h-14 bg-green-400 text-white rounded-xl flex items-center justify-center">
                        <svg class="w-6 h-6 sm:w-8 sm:h-8" fill="currentColor" viewBox="0 0 24 24">
                            <path  d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-2 15l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"
                            ></path>
                        </svg>
                    </div>
                </div>
                <div>
                    <Subtitle className="text-xl sm:text-2xl text-dark mb-2 sm:mb-4">Reduce costos de adquisición de clientes</Subtitle>
                    <Paragraph
                        className="text-gray-600 text-base sm:text-lg leading-relaxed">
                        Optimiza tus recursos con estrategias inteligentes. Reduce los costos de adquisición de clientes mientras aumentas el retorno de tu inversión en marketing.
                    </Paragraph>
                </div>
            </div>
        </div>
    </Container>
</section>
